@charset "UTF-8";

#body_container {
  display: flex;
  justify-content: center;
  text-align: center;
}

#main_container {
  display: inline-block;
  width: 500px;
  margin-top: 50px;
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px 10px;
  box-shadow: 5px 5px 7px rgb(0, 0, 0, 0.5);
}

input {
  text-align: center;
}
